.gitignore
../.golangci.yml
Readme.md

store/author/coverage.out
store/book/coverage.out
store/coverage.out

service/coverage.out
service/authorservice/coverage.out
service/bookservice/coverage.out

http/authorhttp/coverage.out
http/bookhttp/coverage.out
http/coverage.out

coverage.out

../.idea